.clearfix{
  content: "";
  clear: both;
  display: table;
}

#page-container {
  position: relative;
  min-height: 100vh;

}

.container{
    margin-bottom: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
  margin-top: 50px;     
}